<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>学位学历认证管理系统-学生</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/head.css" />
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/bottom.css" />
	<link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css">  
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/certificate.css" />
	<style>
		body{
			background:none
		}
	</style>
</head>
 
<body>
	<%-include("../head.ejs")%>
	<!-- 学生证书区块链证书存证 -->
	<section>
		<div class="layui-container" id="certificate" >
			<div class="layui-row">
				<div class="" style="padding: 20px;" id="print_certificateinfor">
					<table class="layui-table cer_table" cellspacing="0" cellpadding="0">
					  <colgroup>
						  <col width="50">
						  <col width="50">
						  <col width="200">
						  <col width="50">
					  </colgroup>
					  <tbody >
						<tr>
						  <td colspan="4"></td>
						</tr>
						<tr>
						  <td colspan="4" style="text-align: center;">&nbsp;</td>
						</tr>
						<tr>
						  <td></td>
						  <td colspan="2"><h1 class="cer_table_title">学士学位区块链存证证书</h1></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td colspan="2">本证书表明毕业生学位证书数据已采用VNT Chain区块链技术转换为不可篡改的特征值，并上传至区块链进行存证。已存证的相关电子数据如需查验，可通过信诣学位学历认证管理系统进行。</td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">存证方：</td>
						  <td>信诣学位学历认证管理系统</td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">姓名：</td>
						  <td><%= certificate.name %></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">学校名称：</td>
						  <td><%= certificate.school %></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">学位类别：</td>
						  <td><%= certificate.degreetype %></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">毕业年月：</td>
						  <td><%= certificate.graduationdate %></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">专业：</td>
						  <td><%= certificate.major %></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">证书编号：</td>
						  <td><%= certificate.certificatenumber %></td>
						  <td></td>
						</tr>
						<tr>
						  <td></td>
						  <td class="cer_table_td_title">
							  <p style="text-align: center;	">扫码查验</p>
							  <div class="cer_table_QRcode">
								<img src="/student/qrcode" style="height: 90px;" />
							  </div>
							</td>
						  <td>
							  <div style="float: right;">
								  <img src="/static/images/seal.png"  width="200" height="100" />
							  </div>
						  </td>
						  <td></td>
						</tr>

						<!-- 说明 -->
						<tr>
							<td></td>
							<td colspan="2">此证书对应存证内容已加盖可信时间戳，并在信诣学位学历认证管理系统及杭州维特链科技有限公司提供的维特链上同步存证。</td>
							<td></td>
						  </tr>

						<!-- 区块链值 -->
						<tr>
							<td></td>
						  <td colspan="2">
							  <div  style="font-size: 12px;">
								<div>区块高度：<%= certificate.blockNumber %></div>
								  <div >
								<label>交易Hash值：</label>
								<span><%= certificate.txhash %></span>
								</div>
							  </div>
							
						  </td>
						  <td></td>
						</tr>

						<tr>
						  <td colspan="4">
						  </td>
						</tr>
					  </tbody>
					</table>
	
				</div>

				<div class="">
					<div style="text-align: center;width: 100%;">
						<button class="layui-btn layui-btn-fluid" style="border-radius: 20px;background-color: #3887e5;width: 200px;" onclick="window.history.go(-1)">
						上一页
						</button>
						<button class="layui-btn layui-btn-fluid" style="border-radius: 20px;background-color: #3887e5;width: 200px;" onclick="print_certificate()">
						打印
						</button>
					</div>
				</div>
				
		
			</div>
		</div>
		
	</section>


    <%-include("../foot.ejs")%>

    <script language="javascript" src="/static/lib/jqprint/jquery-1.4.4.min.js"></script>
	<script language="javascript" src="/static/lib/jqprint/jquery.jqprint-0.3.js"></script>
	<script>
		// 打印存证证书
		function print_certificate(){
		$("#print_certificateinfor").jqprint();
}

	</script>

<script src="/static/layui/layui.js"></script>

<script>
    
    layui.use(['form','laydate','element'], function(){
      var $ = layui.jquery,
          $ = layui.$,
          element = layui.element//导航的hover效果、二级菜单等功能，需要依赖element模块
          ;
          //修改密码
          $("#changePasswordBtn").click(function(){
              $.get('/changePassword',(res)=>{
                  var index = layer.open({
                title: '修改密码',
                type: 1,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area:['500px','400px'],
                content:res
                    
            });
                $(window).on("resize", function () {
                    layer.full(index);
                });
             })
        })
		  
		  //用户退出
		  	$(".login-out").click(function(){
		  		layer.confirm("确认退出系统吗？",{
					icon:3, title: "提示",
					}, 
					function(index){
						//关闭询问框
						layer.close(index);
						//跳转
						window.location.href = "/logout";
		  		})
		  	});
        
		});
        
	</script>
</body>
</html>